resolution: [1280, 720]
framerate: 25/1

sources:
    - webcam:
        type: v4l2
        device: /dev/video0
    - test:
        type: test
    - mic:
        type: pulse

mixers:
    - audio:
        outputs:
            - udp:
                host: 224.1.2.3
                port: 5556
                encoder: l16
    - TestA:
        sources:
            - test
            - webcam
        mixes:
            - Webcam/Test alpha blend:
                - webcam:
                    alpha: 0.5
            - Webcam/Test picture-in-picture:
                - webcam:
                    alpha: 0.8
                    width: 320
                    height: 180
                    x: 960
                    y: 540
            - Webcam Only
                - test:
                    alpha: 1
                    z: 0
                - webcam:
                    alpha: 1
                    z: 1
            - Test Only:
                - webcam:
                    z:0
                    alpha: 1
                - test:
                    z: 1
                    alpha: 1
        outputs:
            - udp:
                host: 224.1.2.3
                port: 5555
                encoder: h264
                preset: slow
    - TestB:
        sources:
            - test
        mixes:
            - Test
            - Test alpha:
                - webcam:
                    alpha: 0.5
